.container_header{
  align-items: center;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  background-color: var(--Black-prymary);
  align-items: center;
  padding-top: 2rem ;
  position: fixed;

}

.header_logo {
  margin-left: 2rem ;
}

.cart{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-right: 3rem;
}

.item_cart {
  position: absolute;
  color:#131212;
  padding: 0 4px ;
  background-color: rgb(21, 240, 13);
  border-radius:  9999px;
  margin-left: 1rem;
  margin-top: -0.5rem;


}

.header_link{
  color:aliceblue;
  text-decoration: none;
}

@media screen and (max-width: 470px)  {
  .header-image {
    width: 13rem;
  }
}
