.products {
  background-color: var(--Black-primary);
  text-align: center;
  display: flex;
  padding: 2rem 7rem;
  width: 100wh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 1100px)  {
  .products {
   padding: 2rem 5rem;
  }
}

@media screen and (max-width: 1000px)  {
  .products {
   padding: 2rem 3rem;
  }
}

@media screen and (max-width: 720px)  {
  .products {
   padding: 1rem 2rem;
   gap: 1.5rem;

  }
}

@media screen and (max-width: 530px)  {
  .products {
   padding: 1rem;
   gap: 1.1rem;

  }
}
